﻿
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <fieldset>
        <label>Username:</label> <input type="text" name="username" /> <br/>
        <label>Password:</label> <input type="password" name="password" /> <br/>
        <input type="submit" value="Login!"/>
    </fieldset>
</form>